# .replit
entrypoint = "main.py"
language = "python3"

[languages.python3]
pattern = "**/*.py"

[nix]
channel = "stable-24_05"

[debugger]
support = true

[packager]
language = "python3"

[env]
PORT = "8000"
# Добавляем настройки, чтобы Pillow работал без ошибок
LD_LIBRARY_PATH = "/usr/local/lib"